---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomePosts from "../components/HomePosts.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Content as About } from "./about.md";
import getTags from "../scripts/getTags";

const posts = await Astro.glob("../posts/*.md");

const tags = getTags(posts);
---

<!DOCTYPE html>
<html lang="en-us">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<About />

			<h3>Here's my most recent posts</h3>
			<HomePosts allPosts={posts} />

			<Tags tags={tags} />
		</main>
		<Footer />
		<ColorScript />
	</body>
</html>
