---
// import Tag from './Tag.astro';
const { slug, title, tags, description, date } = Astro.props;
const tagJoin = tags.join(",")
---
<article class="box-post post">
	<a href={`/post/${slug}/`} class="title">{title}</a>
	<time datetime={date}>
		{
			new Date(date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</time>
	{description && <span class="excerpt">{description}</span>}
	<div class="tag-box">
		{
			tags &&
				tags.map((tag) => (
					<a class="tag" data-tag={tagJoin} href={`/tag/${tag}`}>
						#{tag}
					</a>
				))
		}
	</div>
</article>