---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import getTags from "../scripts/getTags";

const posts = await Astro.glob("../posts/*.md");
const allTags = getTags(posts);

let {
	content: { title, description, added, updated, tags, time, location },
} = Astro.props;

added = new Date(added).toLocaleDateString(
	"en-us",
	{
		year: "numeric",
		month: "short",
		day: "numeric",
		hour: '2-digit',
        minute: '2-digit',
	}
);

if (updated) {
	updated = new Date(updated).toLocaleDateString(
		"en-us",
		{
			year: "numeric",
			month: "short",
			day: "numeric",
			hour: '2-digit',
        	minute: '2-digit',
		}
	);
}
---

<html lang="en-us">
	<BaseHead title={title} description={description} />

	<body>
		<Header />
		<main>
			<article>
				<!-- {heroImage && <img width={720} height={360} src={heroImage} alt="" />} -->
				<h1 class="blog-post-title">{title}</h1>
				<h4 class="blog-post-subtitle">{description}</h4>

				<!-- <Tags tags={tags} /> -->
				<hr />
				<div class="blog-post">
					<slot />
				</div>
				<br/>
				<br/>
				<hr /> <!-- Add this line -->
				<footer> <!-- Add this block -->
					<ul>
					<!-- <li>Date: <span class="text-light">{added}</span></li> -->
					{updated ?
						<li>Date: <span class="text-light">{added}</span></li><li>Updated: <span class="text-light">{updated}</span></li>
						:
						<li>{added && <time>{added}</time>}</li>
					}
					<!-- <li>Time: <span class="text-light">{time}</span></li> -->
					<li>Location: <span class="text-light">{location}</span></li>
					<li><Tags tags={tags} blog_footer /></li>
					</ul>
				</footer>
				<hr /> <!-- Add this line -->
				<br/>
				<br/>
			</article>
		</main>
		<Tags tags={allTags} all />
		<Footer />
		<ColorScript />

		<>
	</body>
</html>
